@model EditPostViewModel

<!--Main body-->
    <main class="container  mt-3">

        <h3 class="text-center">Edit post</h3>
        <hr />

        <form asp-controller="home" asp-action="edit" enctype="multipart/form-data" method="post">
            <div class="container mt-3 custom-input">
                <input type="hidden" asp-for="@Model.Id"/>
                <input type="hidden" asp-for="@Model.CreatedTime"/>
                <input type="hidden" asp-for="@Model.ImagePath"/>

                <div class="mt-3 custom-input">
                <label asp-for="Title" class="form-label"></label>
                <div class="input-group mb-3">
                    <input asp-for="Title" type="text" class="form-control">
                </div>                
                <span asp-validation-for="Title" class="text-danger"></span><br>

                <label asp-for="Body" class="form-label"></label>
                <div class="input-group mb-3">
                    <textarea asp-for="Body" class="form-control" rows="5"></textarea>
                </div>
                <span asp-validation-for="Body" class="text-danger"></span><br>
                
                @{
                      string imageFilePath = "~/Images/" + @Model.ImagePath;
                 } 
                <label asp-for="ImagePath" class="form-label">Post photo</label>
                <div class="input-group mb-3">
                    <img src="@imageFilePath" asp-append-version="true" style="width: 200px;" alt="">
                </div>

                <label asp-for="NewImage" class="form-label"></label>
                <div class="input-group mb-3">
                    <input asp-for="NewImage" accept="image/*" type="file" class="form-control">
                </div>
                <span asp-validation-for="NewImage" class="text-danger"></span><br>
            </div>
            </div>
            <div class="button-group">
                <a asp-controller="home" asp-action="index" class="btn btn-dark">Cancel</a>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>


    </main>